#col-12 {
    background-color: #BC9316;
    width: 645px;
    height: 650px;
    float: right;
    margin: 0px;
    padding: 5px;
}
.col12 {
    background-color: #BC9316;
    width: 645px;
    height: 650px;
    float: right;
    margin: 0px;
    padding: 5px;
}