nav {
  width: 100%;
  display: flex;
  background-color: #BC9216;
  justify-content: center;
  color: white;
}

nav li {
  float: left;
  list-style: none;
  margin-left: 20px;
}


.numero-questao{
 font-size: 40px;
 display:inline-block;
 margin-top: 10px;
}

.caixa-pergunta{
  width: 60%;
  height: 2rem;
  display:inline-block;
  align-self: center;
}

.titulo-peso{
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.campo-numero{
  width: 185%;
}

.menu-peso{
  width: 5%;
  display:inline-block;
  margin-left: 60px;
}


.letra-alternativa{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
  display:inline-block;
}

.caixa-alternativa{
  width: 60%;
  height: 1.3rem;
  display:inline-block;
}

button{
  height: 30px;
  width: 170px;
}

.botoes{
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 30px;
  
}

#agenda{
  text-align: center;
  font-family: sans-serif;
}

#excluirbtn{
  background-color: #BC9216;
  color: white;
  border-radius: 5px;
}

#salvarbtn{
  background-color: #BC9216;
  color: white;
  border-radius: 5px;
  margin-left: 5px;
}

